<h1 style="text-align: center;"><a title="Data Prep-AIMS-Cmr-2024-25">Assignment 1, Data Prep  @AIMSSen 25</h1>

**Instructor:** 

* Rockefeller

**Prénom:Ahmed Souleymane**

**Nom:Sow**

# Exercice 1:  Trends in Business in Nigeria

**NaijaBiz Analytics** is a leading business intelligence firm that specializes in analyzing small and medium enterprises (SMEs) across Nigeria. The company has been contracted by the Nigerian Ministry of Industry, Trade and Investment to conduct a comprehensive analysis of business performance across different states and sectors. 

As a newly hired Data Analyst at NaijaBiz Analytics, you have been provided with a dataset containing information about businesses across various Nigerian states. Your task is to analyze the business data using basic filtering operations to provide actionable insights.

**Dataset:** `naija_businesses.csv`

For each question below, provide the Python pandas code and extract meaningful business insights from your analysis.

In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/lib/python3/dist-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/usr/lib/python3/dist-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 450, in process_one
    await dispatch(*args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 357, in dispatch_shell
    await result
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
  File "/usr/lib/python3/dist-packages/ipykernel/ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/lib/python3/dist-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_138461/4080736814.py", line 1, in <module>
    import pandas as pd
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/usr/lib/python3/dist-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/lib/python3/dist-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/usr/lib/python3/dist-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 450, in process_one
    await dispatch(*args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 357, in dispatch_shell
    await result
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
  File "/usr/lib/python3/dist-packages/ipykernel/ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/lib/python3/dist-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_138461/4080736814.py", line 1, in <module>
    import pandas as pd
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/usr/lib/python3/dist-packages/bottleneck/__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [2]:
df = pd.read_csv('data/naija_businesses.csv')
df

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
0,NG_0001,Business_1,Benue,Retail,2023-02-01,417741,406718,8,False,True
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
3,NG_0004,Business_4,Benue,Manufacturing,2023-04-14,553527,389310,7,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
...,...,...,...,...,...,...,...,...,...,...
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False
196,NG_0197,Business_197,Kano,Agriculture,2021-01-31,916895,349547,7,False,True
197,NG_0198,Business_198,Kaduna,Agriculture,2021-11-29,778180,430501,8,False,True
198,NG_0199,Business_199,Oyo,Agriculture,2022-11-08,98486,78788,4,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

In [3]:
df.head()

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
0,NG_0001,Business_1,Benue,Retail,2023-02-01,417741,406718,8,False,True
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
3,NG_0004,Business_4,Benue,Manufacturing,2023-04-14,553527,389310,7,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False

In [4]:
df.tail()

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False
196,NG_0197,Business_197,Kano,Agriculture,2021-01-31,916895,349547,7,False,True
197,NG_0198,Business_198,Kaduna,Agriculture,2021-11-29,778180,430501,8,False,True
198,NG_0199,Business_199,Oyo,Agriculture,2022-11-08,98486,78788,4,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   business_id            200 non-null    object
 1   business_name          200 non-null    object
 2   state                  200 non-null    object
 3   business_type          200 non-null    object
 4   start_date             200 non-null    object
 5   monthly_revenue_naira  200 non-null    int64
 6   monthly_costs_naira    200 non-null    int64
 7   employees              200 non-null    int64
 8   has_website            200 non-null    bool
 9   accepts_mobile_money   200 non-null    bool
dtypes: bool(2), int64(3), object(5)
memory usage: 13.0+ KB

In [6]:
df.columns

Index(['business_id', 'business_name', 'state', 'business_type', 'start_date',
       'monthly_revenue_naira', 'monthly_costs_naira', 'employees',
       'has_website', 'accepts_mobile_money'],
      dtype='object')

In [7]:
df.describe()

       monthly_revenue_naira  monthly_costs_naira   employees
count             200.000000           200.000000  200.000000
mean           493810.380000        255533.415000    7.800000
std            210278.056439        138469.364304    2.989092
min           -172819.000000       -138255.000000    1.000000
25%            351763.000000        163606.000000    6.000000
50%            508805.000000        260947.000000    8.000000
75%            652652.250000        349947.250000   10.000000
max            934568.000000        572702.000000   16.000000

In [8]:
df.shape

(200, 10)

In [9]:
df.dtypes

business_id              object
business_name            object
state                    object
business_type            object
start_date               object
monthly_revenue_naira     int64
monthly_costs_naira       int64
employees                 int64
has_website                bool
accepts_mobile_money       bool
dtype: object

In [10]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [11]:
df.dtypes

business_id                      object
business_name                    object
state                            object
business_type                    object
start_date               datetime64[ns]
monthly_revenue_naira             int64
monthly_costs_naira               int64
employees                         int64
has_website                        bool
accepts_mobile_money               bool
dtype: object

### Q1: High Revenue Businesses
Filter and display all businesses that have monthly revenue greater than 600,000 Naira. How many such businesses exist?

**Business Context:** Identifying high-revenue businesses can help understand successful business models.

In [12]:
df[df['monthly_revenue_naira'] > 600000]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
6,NG_0007,Business_7,Oyo,Services,2021-06-21,724708,207436,12,False,True
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
11,NG_0012,Business_12,Benue,Services,2022-06-21,835058,436180,7,False,True
12,NG_0013,Business_13,Rivers,Manufacturing,2020-02-05,677796,298681,6,False,True
18,NG_0019,Business_19,Anambra,Manufacturing,2021-10-15,677240,486295,8,False,True
27,NG_0028,Business_28,Kano,Retail,2020-02-20,713895,168645,10,False,False
29,NG_0030,Business_30,Kaduna,Retail,2023-04-28,872155,371524,6,False,True
30,NG_0031,Business_31,Oyo,Services,2023-02-22,795650,40562,3,False,True
36,NG_0037,Business_37,Kaduna,Services,2021-11-12,788749,212612,10,False,True
38,NG_0039,Business_39,Lagos,Technology,2022-12-13,670388,289248,4,False,True
39,NG_0040,Business_40,Rivers,Retail,2022-09-29,653667,146427,6,False,False
40,NG_0041,Business_41,Rivers,Services,2021-03-19,610938,493260,8,True,True
41,NG_0042,Business_42,Benue,Agriculture,2021-09-04,646634,369677,14,False,True
43,NG_0044,Business_44,Anambra,Services,2020-09-20,652314,525753,8,False,True
48,NG_0049,Business_49,Imo,Agriculture,2023-05-04,771763,379787,7,False,False
54,NG_0055,Business_55,Benue,Technology,2020-02-16,668714,411354,9,False,False
58,NG_0059,Business_59,Rivers,Retail,2021-10-17,787350,224882,7,True,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
76,NG_0077,Business_77,Kaduna,Agriculture,2021-05-27,836936,555873,6,False,False
79,NG_0080,Business_80,Kaduna,Retail,2023-02-15,707431,451484,10,False,False
83,NG_0084,Business_84,Anambra,Services,2022-06-15,805420,163626,4,False,True
85,NG_0086,Business_86,Rivers,Manufacturing,2023-04-27,787236,294178,9,False,True
87,NG_0088,Business_88,Lagos,Manufacturing,2021-08-03,746502,157898,14,False,False
90,NG_0091,Business_91,Anambra,Services,2020-09-03,827771,308273,5,False,False
93,NG_0094,Business_94,Imo,Manufacturing,2023-12-29,661511,529208,10,False,True
94,NG_0095,Business_95,Imo,Retail,2022-09-23,684830,512137,8,False,True
95,NG_0096,Business_96,Imo,Retail,2023-01-14,662571,228961,6,False,True
106,NG_0107,Business_107,Imo,Agriculture,2023-05-12,755092,422053,7,False,True
108,NG_0109,Business_109,Imo,Manufacturing,2020-08-05,687414,259674,7,True,True
111,NG_0112,Business_112,Benue,Agriculture,2020-12-06,768417,534705,14,False,False
114,NG_0115,Business_115,Benue,Technology,2023-07-01,618748,205519,3,False,True
115,NG_0116,Business_116,Kaduna,Technology,2020-12-22,742563,272479,8,True,True
118,NG_0119,Business_119,Anambra,Retail,2023-01-28,822115,239632,8,False,True
119,NG_0120,Business_120,Oyo,Services,2022-03-12,754798,235629,15,False,True
123,NG_0124,Business_124,Benue,Retail,2021-03-17,843719,190578,3,False,True
124,NG_0125,Business_125,Oyo,Manufacturing,2022-02-07,673214,62488,9,False,False
128,NG_0129,Business_129,Kaduna,Manufacturing,2022-11-05,693725,371297,9,False,False
129,NG_0130,Business_130,Kaduna,Services,2022-03-02,629146,497825,7,True,False
130,NG_0131,Business_131,Kaduna,Retail,2020-12-01,742431,268497,11,True,False
137,NG_0138,Business_138,Lagos,Services,2021-01-14,682921,70535,10,False,False
139,NG_0140,Business_140,Lagos,Retail,2021-11-21,906428,195267,11,False,False
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
145,NG_0146,Business_146,Benue,Manufacturing,2020-10-11,834749,364417,5,False,True
147,NG_0148,Business_148,Rivers,Retail,2020-01-12,714736,326393,5,False,True
150,NG_0151,Business_151,Rivers,Services,2021-05-13,623221,140961,7,False,False
157,NG_0158,Business_158,Kano,Technology,2021-08-27,602588,213962,7,False,True
163,NG_0164,Business_164,Kaduna,Technology,2023-05-04,894692,572702,10,False,True
173,NG_0174,Business_174,Kaduna,Services,2021-11-06,819422,255845,9,False,False
176,NG_0177,Business_177,Rivers,Technology,2022-07-08,673369,261477,10,True,False
179,NG_0180,Business_180,Rivers,Technology,2023-01-27,680372,351148,10,False,True
183,NG_0184,Business_184,Rivers,Manufacturing,2021-10-24,615234,451551,12,False,False
184,NG_0185,Business_185,Lagos,Technology,2023-04-28,737919,444418,2,False,True
193,NG_0194,Business_194,Benue,Agriculture,2021-08-18,934568,261431,9,True,True
194,NG_0195,Business_195,Benue,Agriculture,2021-12-29,812562,504472,11,False,True
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False
196,NG_0197,Business_197,Kano,Agriculture,2021-01-31,916895,349547,7,False,True
197,NG_0198,Business_198,Kaduna,Agriculture,2021-11-29,778180,430501,8,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

In [13]:
df_revenue_great= df[df['monthly_revenue_naira'] > 600000]

In [14]:
count_ent_revenue_eleve = df_revenue_great["business_id"].count()
count_ent_revenue_eleve

np.int64(60)

In [15]:
pourcent_ent_revenue_great = (count_ent_revenue_eleve/df['business_id'].count())*100
pourcent_ent_revenue_great

np.float64(30.0)

 Alors on peut dire qu'il y'a `60 enteprises` qui ont un revenue superieur à `600,000 naira`.
 Ces entreprises représentent donc `30.0% du total`.
 
Les entreprises dont le revenu mensuel dépasse `600,000 Naira` représentent les acteurs les plus performants du marché. Leur position dominante traduit une gestion efficace, une offre à forte valeur ajoutée et une stratégie commerciale bien structurée. Elles constituent des modèles économiques de référence, susceptibles d’attirer des partenariats ou des investissements, et contribuent de manière notable à la croissance économique, à l’emploi et à la création de valeur dans leur secteur.

### Q2: Technology Businesses with Websites
Filter businesses that are in the "Technology" sector AND have a website. Display their business names and monthly revenue.

**Business Context:** Understanding digital adoption in the tech sector can inform technology support programs.

In [16]:
df[(df['business_type'] == 'Technology') & (df['has_website'] == True)][['business_name', 'monthly_revenue_naira']]

    business_name  monthly_revenue_naira
4      Business_5                 231537
9     Business_10                 549862
33    Business_34                 265604
74    Business_75                 370740
115  Business_116                 742563
144  Business_145                 349510
161  Business_162                 319976
176  Business_177                 673369

On constate que ces entreprises sont à la fois numériquement actives et économiquement performantes, car leur présence en ligne favorise la visibilité, l’accès à de nouveaux marchés et la croissance du chiffre d’affaires.

Ainsi, les entreprises technologiques disposant d’un site web démontrent une forte intégration du numérique et une orientation vers l’innovation. Leur digitalisation renforce leur compétitivité, améliore leur visibilité et soutient leur expansion, faisant d’elles des acteurs clés de la transformation numérique et des cibles prioritaires pour les programmes de soutien au secteur technologique.

### Q3: Manufacturing Businesses in Specific States
Filter all Manufacturing businesses located in either "Lagos" OR "Kano" states. How many manufacturing businesses are in these two states?

**Business Context:** These states are major industrial hubs, and this analysis helps understand manufacturing concentration.

In [17]:
df_locat = df[(df['business_type']== 'Manufacturing') & (df['state'] == 'Lagos') | (df['state'] == 'Kano')][['business_id','business_name']] 
df_locat

    business_id business_name
9       NG_0010   Business_10
22      NG_0023   Business_23
27      NG_0028   Business_28
33      NG_0034   Business_34
42      NG_0043   Business_43
65      NG_0066   Business_66
70      NG_0071   Business_71
71      NG_0072   Business_72
73      NG_0074   Business_74
75      NG_0076   Business_76
87      NG_0088   Business_88
89      NG_0090   Business_90
92      NG_0093   Business_93
96      NG_0097   Business_97
101     NG_0102  Business_102
102     NG_0103  Business_103
104     NG_0105  Business_105
105     NG_0106  Business_106
122     NG_0123  Business_123
126     NG_0127  Business_127
127     NG_0128  Business_128
155     NG_0156  Business_156
157     NG_0158  Business_158
164     NG_0165  Business_165
165     NG_0166  Business_166
186     NG_0187  Business_187
195     NG_0196  Business_196
196     NG_0197  Business_197

In [18]:
df_locat.count()

business_id      28
business_name    28
dtype: int64

La concentration des entreprises manufacturières à Lagos et Kano illustre l’importance de ces États comme centres industriels stratégiques. Cette localisation favorise l’accès aux infrastructures, aux marchés et à la main-d’œuvre qualifiée, renforçant la compétitivité et l’efficacité de la production.

Pour les investisseurs et décideurs, ces pôles représentent des zones prioritaires pour le développement industriel, les partenariats et les politiques de soutien, tandis que les entreprises en dehors de ces États pourraient envisager la relocalisation ou l’expansion pour bénéficier de ces avantages.

In [19]:
df[(df['employees'] >= 5) & (df['monthly_costs_naira'] < 200000)]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
5,NG_0006,Business_6,Anambra,Technology,2022-01-28,-172819,-138255,5,False,False
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
20,NG_0021,Business_21,Imo,Manufacturing,2021-04-15,508870,163546,6,False,True
26,NG_0027,Business_27,Imo,Retail,2022-05-03,151342,121073,12,False,True
27,NG_0028,Business_28,Kano,Retail,2020-02-20,713895,168645,10,False,False
33,NG_0034,Business_34,Kano,Technology,2021-07-23,265604,8259,8,True,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
39,NG_0040,Business_40,Rivers,Retail,2022-09-29,653667,146427,6,False,False
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
53,NG_0054,Business_54,Kaduna,Retail,2023-10-05,479231,197888,5,False,False
65,NG_0066,Business_66,Kano,Services,2022-04-10,291829,63071,6,False,True
66,NG_0067,Business_67,Kaduna,Agriculture,2022-12-17,229509,118424,11,False,True
67,NG_0068,Business_68,Lagos,Technology,2023-10-01,388315,57988,12,False,False
68,NG_0069,Business_69,Kaduna,Manufacturing,2022-01-10,340352,187933,8,True,True
69,NG_0070,Business_70,Imo,Agriculture,2020-04-26,232431,185944,10,False,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
73,NG_0074,Business_74,Kano,Retail,2022-10-09,201479,185281,10,False,True
77,NG_0078,Business_78,Kaduna,Services,2022-03-12,153936,123148,12,False,True
87,NG_0088,Business_88,Lagos,Manufacturing,2021-08-03,746502,157898,14,False,False
88,NG_0089,Business_89,Kaduna,Services,2022-02-28,543736,183086,6,False,True
92,NG_0093,Business_93,Kano,Manufacturing,2020-06-02,533285,147207,8,False,True
96,NG_0097,Business_97,Kano,Agriculture,2021-11-27,229855,183884,6,True,False
105,NG_0106,Business_106,Kano,Manufacturing,2021-03-28,414793,82169,6,False,True
107,NG_0108,Business_108,Kaduna,Retail,2022-06-30,481686,74825,9,False,False
112,NG_0113,Business_113,Anambra,Retail,2021-07-04,-21757,-17405,11,False,False
122,NG_0123,Business_123,Kano,Manufacturing,2022-01-31,572033,141804,5,False,True
124,NG_0125,Business_125,Oyo,Manufacturing,2022-02-07,673214,62488,9,False,False
126,NG_0127,Business_127,Kano,Retail,2023-09-10,544014,180524,10,True,False
127,NG_0128,Business_128,Lagos,Manufacturing,2021-05-30,123223,98578,6,False,True
131,NG_0132,Business_132,Oyo,Services,2020-09-14,471190,157869,6,True,False
132,NG_0133,Business_133,Lagos,Retail,2021-05-11,525608,66637,8,True,True
133,NG_0134,Business_134,Oyo,Technology,2022-06-14,403732,-117695,7,False,False
136,NG_0137,Business_137,Lagos,Agriculture,2021-11-20,136139,108911,10,False,True
137,NG_0138,Business_138,Lagos,Services,2021-01-14,682921,70535,10,False,False
139,NG_0140,Business_140,Lagos,Retail,2021-11-21,906428,195267,11,False,False
140,NG_0141,Business_141,Anambra,Manufacturing,2023-12-21,147174,117739,7,False,False
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
148,NG_0149,Business_149,Lagos,Retail,2023-08-18,515209,99055,14,False,False
150,NG_0151,Business_151,Rivers,Services,2021-05-13,623221,140961,7,False,False
151,NG_0152,Business_152,Rivers,Services,2022-01-23,394255,132308,13,False,False
152,NG_0153,Business_153,Lagos,Technology,2020-02-04,243941,95594,6,False,True
160,NG_0161,Business_161,Benue,Retail,2021-02-21,491674,52389,8,False,False
164,NG_0165,Business_165,Kano,Services,2022-04-05,424188,69798,9,False,False
169,NG_0170,Business_170,Imo,Manufacturing,2021-12-29,563127,192628,7,False,False
178,NG_0179,Business_179,Lagos,Retail,2022-01-08,428358,56621,5,True,True
182,NG_0183,Business_183,Imo,Retail,2020-04-05,345782,43724,6,False,True
190,NG_0191,Business_191,Benue,Agriculture,2022-05-22,64663,51730,6,False,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True

In [20]:
df[(df['employees'] >= 5) & (df['monthly_costs_naira'] < 200000)]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
5,NG_0006,Business_6,Anambra,Technology,2022-01-28,-172819,-138255,5,False,False
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
20,NG_0021,Business_21,Imo,Manufacturing,2021-04-15,508870,163546,6,False,True
26,NG_0027,Business_27,Imo,Retail,2022-05-03,151342,121073,12,False,True
27,NG_0028,Business_28,Kano,Retail,2020-02-20,713895,168645,10,False,False
33,NG_0034,Business_34,Kano,Technology,2021-07-23,265604,8259,8,True,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
39,NG_0040,Business_40,Rivers,Retail,2022-09-29,653667,146427,6,False,False
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
53,NG_0054,Business_54,Kaduna,Retail,2023-10-05,479231,197888,5,False,False
65,NG_0066,Business_66,Kano,Services,2022-04-10,291829,63071,6,False,True
66,NG_0067,Business_67,Kaduna,Agriculture,2022-12-17,229509,118424,11,False,True
67,NG_0068,Business_68,Lagos,Technology,2023-10-01,388315,57988,12,False,False
68,NG_0069,Business_69,Kaduna,Manufacturing,2022-01-10,340352,187933,8,True,True
69,NG_0070,Business_70,Imo,Agriculture,2020-04-26,232431,185944,10,False,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
73,NG_0074,Business_74,Kano,Retail,2022-10-09,201479,185281,10,False,True
77,NG_0078,Business_78,Kaduna,Services,2022-03-12,153936,123148,12,False,True
87,NG_0088,Business_88,Lagos,Manufacturing,2021-08-03,746502,157898,14,False,False
88,NG_0089,Business_89,Kaduna,Services,2022-02-28,543736,183086,6,False,True
92,NG_0093,Business_93,Kano,Manufacturing,2020-06-02,533285,147207,8,False,True
96,NG_0097,Business_97,Kano,Agriculture,2021-11-27,229855,183884,6,True,False
105,NG_0106,Business_106,Kano,Manufacturing,2021-03-28,414793,82169,6,False,True
107,NG_0108,Business_108,Kaduna,Retail,2022-06-30,481686,74825,9,False,False
112,NG_0113,Business_113,Anambra,Retail,2021-07-04,-21757,-17405,11,False,False
122,NG_0123,Business_123,Kano,Manufacturing,2022-01-31,572033,141804,5,False,True
124,NG_0125,Business_125,Oyo,Manufacturing,2022-02-07,673214,62488,9,False,False
126,NG_0127,Business_127,Kano,Retail,2023-09-10,544014,180524,10,True,False
127,NG_0128,Business_128,Lagos,Manufacturing,2021-05-30,123223,98578,6,False,True
131,NG_0132,Business_132,Oyo,Services,2020-09-14,471190,157869,6,True,False
132,NG_0133,Business_133,Lagos,Retail,2021-05-11,525608,66637,8,True,True
133,NG_0134,Business_134,Oyo,Technology,2022-06-14,403732,-117695,7,False,False
136,NG_0137,Business_137,Lagos,Agriculture,2021-11-20,136139,108911,10,False,True
137,NG_0138,Business_138,Lagos,Services,2021-01-14,682921,70535,10,False,False
139,NG_0140,Business_140,Lagos,Retail,2021-11-21,906428,195267,11,False,False
140,NG_0141,Business_141,Anambra,Manufacturing,2023-12-21,147174,117739,7,False,False
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
148,NG_0149,Business_149,Lagos,Retail,2023-08-18,515209,99055,14,False,False
150,NG_0151,Business_151,Rivers,Services,2021-05-13,623221,140961,7,False,False
151,NG_0152,Business_152,Rivers,Services,2022-01-23,394255,132308,13,False,False
152,NG_0153,Business_153,Lagos,Technology,2020-02-04,243941,95594,6,False,True
160,NG_0161,Business_161,Benue,Retail,2021-02-21,491674,52389,8,False,False
164,NG_0165,Business_165,Kano,Services,2022-04-05,424188,69798,9,False,False
169,NG_0170,Business_170,Imo,Manufacturing,2021-12-29,563127,192628,7,False,False
178,NG_0179,Business_179,Lagos,Retail,2022-01-08,428358,56621,5,True,True
182,NG_0183,Business_183,Imo,Retail,2020-04-05,345782,43724,6,False,True
190,NG_0191,Business_191,Benue,Agriculture,2022-05-22,64663,51730,6,False,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True

On peut dire que ces entreprises sont de petites structures, souvent des startups, micro-entreprises ou activités individuelles, opérant avec des ressources limitées.

Ces petits acteurs représentent la base dynamique de l’économie locale, caractérisée par une capacité d’adaptation rapide aux besoins du marché. Leur taille réduite et leurs coûts modestes les rendent fragiles face aux fluctuations économiques, mais aussi réactifs et innovants.

### Q5: Profitable Retail Businesses
Filter Retail businesses where monthly revenue is greater than monthly costs. Display their state and employee count.

**Business Context:** Understanding profitable retail operations can help identify successful business practices.

In [21]:
df[(df['business_type'] == 'Retail') & (df['monthly_revenue_naira'] > df['monthly_costs_naira'])][['state', 'employees']]

       state  employees
0      Benue          8
16    Kaduna          2
26       Imo         12
27      Kano         10
28   Anambra          3
29    Kaduna          6
31     Lagos          3
34       Imo          5
37     Lagos         10
39    Rivers          6
44    Kaduna          8
46   Anambra         11
47     Benue          2
53    Kaduna          5
55    Kaduna          8
56   Anambra          9
58    Rivers          7
63     Lagos          8
64     Benue         13
73      Kano         10
78     Benue          7
79    Kaduna         10
94       Imo          8
95       Imo          6
97    Kaduna          9
100    Benue          5
101     Kano         11
107   Kaduna          9
110  Anambra          9
117      Imo         10
118  Anambra          8
123    Benue          3
126     Kano         10
130   Kaduna         11
132    Lagos          8
139    Lagos         11
141    Lagos         10
143  Anambra          6
147   Rivers          5
148    Lagos         14
158    Lagos          9
160    Benue          8
167    Benue         10
168    Benue          5
175      Imo         10
178    Lagos          5
182      Imo          6
186     Kano         10
189      Imo          8
199   Rivers         10

### Q6: Businesses Accepting Mobile Money
Filter all businesses that accept mobile money AND have more than 8 employees. Which states are these businesses located in?

**Business Context:** Larger businesses adopting mobile payments indicate financial technology integration.

In [22]:
df[(df['employees'] > 8) & (df['accepts_mobile_money'] == True)]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
6,NG_0007,Business_7,Oyo,Services,2021-06-21,724708,207436,12,False,True
10,NG_0011,Business_11,Rivers,Services,2022-04-07,564903,326094,16,False,True
13,NG_0014,Business_14,Rivers,Agriculture,2021-11-15,599212,367711,13,False,True
21,NG_0022,Business_22,Oyo,Manufacturing,2023-03-12,264774,211819,9,True,True
26,NG_0027,Business_27,Imo,Retail,2022-05-03,151342,121073,12,False,True
35,NG_0036,Business_36,Oyo,Services,2020-10-31,415564,334449,10,False,True
36,NG_0037,Business_37,Kaduna,Services,2021-11-12,788749,212612,10,False,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
41,NG_0042,Business_42,Benue,Agriculture,2021-09-04,646634,369677,14,False,True
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
46,NG_0047,Business_47,Anambra,Retail,2020-01-05,511482,327526,11,False,True
56,NG_0057,Business_57,Anambra,Retail,2022-04-02,359637,287709,9,True,True
64,NG_0065,Business_65,Benue,Retail,2020-04-29,592544,474035,13,True,True
66,NG_0067,Business_67,Kaduna,Agriculture,2022-12-17,229509,118424,11,False,True
69,NG_0070,Business_70,Imo,Agriculture,2020-04-26,232431,185944,10,False,True
73,NG_0074,Business_74,Kano,Retail,2022-10-09,201479,185281,10,False,True
77,NG_0078,Business_78,Kaduna,Services,2022-03-12,153936,123148,12,False,True
84,NG_0085,Business_85,Benue,Manufacturing,2023-07-19,376842,301473,10,True,True
85,NG_0086,Business_86,Rivers,Manufacturing,2023-04-27,787236,294178,9,False,True
93,NG_0094,Business_94,Imo,Manufacturing,2023-12-29,661511,529208,10,False,True
97,NG_0098,Business_98,Kaduna,Retail,2023-08-01,372552,279734,9,True,True
98,NG_0099,Business_99,Imo,Services,2023-05-28,368694,294955,10,False,True
101,NG_0102,Business_102,Kano,Retail,2022-10-05,365795,353725,11,False,True
110,NG_0111,Business_111,Anambra,Retail,2021-03-07,582742,396503,9,False,True
119,NG_0120,Business_120,Oyo,Services,2022-03-12,754798,235629,15,False,True
120,NG_0121,Business_121,Anambra,Services,2023-04-18,326283,228986,9,True,True
135,NG_0136,Business_136,Oyo,Agriculture,2022-05-01,379548,303638,9,False,True
136,NG_0137,Business_137,Lagos,Agriculture,2021-11-20,136139,108911,10,False,True
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
155,NG_0156,Business_156,Kano,Services,2020-03-30,402271,321816,9,False,True
158,NG_0159,Business_159,Lagos,Retail,2022-08-27,256302,205041,9,True,True
163,NG_0164,Business_164,Kaduna,Technology,2023-05-04,894692,572702,10,False,True
175,NG_0176,Business_176,Imo,Retail,2021-04-01,525486,318756,10,True,True
177,NG_0178,Business_178,Rivers,Technology,2020-07-10,594207,453642,10,False,True
179,NG_0180,Business_180,Rivers,Technology,2023-01-27,680372,351148,10,False,True
180,NG_0181,Business_181,Oyo,Services,2022-09-04,325750,303835,12,False,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
193,NG_0194,Business_194,Benue,Agriculture,2021-08-18,934568,261431,9,True,True
194,NG_0195,Business_195,Benue,Agriculture,2021-12-29,812562,504472,11,False,True

In [23]:
df[(df['employees'] > 8) & (df['accepts_mobile_money'] == True)]['state'].unique()

array(['Oyo', 'Rivers', 'Imo', 'Kaduna', 'Lagos', 'Benue', 'Anambra',
       'Kano'], dtype=object)

Ces entreprises sont situées dans les Etats comme: `Oyo, Rivers, Imo, Kaduna, Lagos, Benue, Anambra et Kano`

### Q7: Low-Cost Operations
Filter businesses where monthly costs are less than 150,000 Naira. What is the most common business type among these low-cost operations?

**Business Context:** Low-cost business models can be important for economic inclusion and job creation.

In [24]:
df[df['monthly_costs_naira'] < 150000]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
5,NG_0006,Business_6,Anambra,Technology,2022-01-28,-172819,-138255,5,False,False
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
26,NG_0027,Business_27,Imo,Retail,2022-05-03,151342,121073,12,False,True
30,NG_0031,Business_31,Oyo,Services,2023-02-22,795650,40562,3,False,True
33,NG_0034,Business_34,Kano,Technology,2021-07-23,265604,8259,8,True,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
39,NG_0040,Business_40,Rivers,Retail,2022-09-29,653667,146427,6,False,False
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
57,NG_0058,Business_58,Lagos,Services,2022-07-24,306577,43908,4,True,True
65,NG_0066,Business_66,Kano,Services,2022-04-10,291829,63071,6,False,True
66,NG_0067,Business_67,Kaduna,Agriculture,2022-12-17,229509,118424,11,False,True
67,NG_0068,Business_68,Lagos,Technology,2023-10-01,388315,57988,12,False,False
71,NG_0072,Business_72,Kano,Services,2023-02-24,167976,70428,1,False,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
77,NG_0078,Business_78,Kaduna,Services,2022-03-12,153936,123148,12,False,True
89,NG_0090,Business_90,Kano,Agriculture,2022-05-10,403124,-29477,4,False,True
92,NG_0093,Business_93,Kano,Manufacturing,2020-06-02,533285,147207,8,False,True
105,NG_0106,Business_106,Kano,Manufacturing,2021-03-28,414793,82169,6,False,True
107,NG_0108,Business_108,Kaduna,Retail,2022-06-30,481686,74825,9,False,False
112,NG_0113,Business_113,Anambra,Retail,2021-07-04,-21757,-17405,11,False,False
122,NG_0123,Business_123,Kano,Manufacturing,2022-01-31,572033,141804,5,False,True
124,NG_0125,Business_125,Oyo,Manufacturing,2022-02-07,673214,62488,9,False,False
127,NG_0128,Business_128,Lagos,Manufacturing,2021-05-30,123223,98578,6,False,True
132,NG_0133,Business_133,Lagos,Retail,2021-05-11,525608,66637,8,True,True
133,NG_0134,Business_134,Oyo,Technology,2022-06-14,403732,-117695,7,False,False
136,NG_0137,Business_137,Lagos,Agriculture,2021-11-20,136139,108911,10,False,True
137,NG_0138,Business_138,Lagos,Services,2021-01-14,682921,70535,10,False,False
138,NG_0139,Business_139,Benue,Technology,2022-08-14,65023,52018,4,False,False
140,NG_0141,Business_141,Anambra,Manufacturing,2023-12-21,147174,117739,7,False,False
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
148,NG_0149,Business_149,Lagos,Retail,2023-08-18,515209,99055,14,False,False
150,NG_0151,Business_151,Rivers,Services,2021-05-13,623221,140961,7,False,False
151,NG_0152,Business_152,Rivers,Services,2022-01-23,394255,132308,13,False,False
152,NG_0153,Business_153,Lagos,Technology,2020-02-04,243941,95594,6,False,True
153,NG_0154,Business_154,Rivers,Services,2021-12-27,239679,13311,4,False,True
156,NG_0157,Business_157,Benue,Agriculture,2022-02-14,70828,56662,4,True,False
160,NG_0161,Business_161,Benue,Retail,2021-02-21,491674,52389,8,False,False
164,NG_0165,Business_165,Kano,Services,2022-04-05,424188,69798,9,False,False
178,NG_0179,Business_179,Lagos,Retail,2022-01-08,428358,56621,5,True,True
181,NG_0182,Business_182,Benue,Manufacturing,2022-10-05,454650,88372,3,False,True
182,NG_0183,Business_183,Imo,Retail,2020-04-05,345782,43724,6,False,True
190,NG_0191,Business_191,Benue,Agriculture,2022-05-22,64663,51730,6,False,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
198,NG_0199,Business_199,Oyo,Agriculture,2022-11-08,98486,78788,4,False,True

In [25]:
df[df['monthly_costs_naira'] < 150000]["business_type"].value_counts()

business_type
Retail           12
Services         11
Technology        9
Manufacturing     8
Agriculture       7
Name: count, dtype: int64

Ces structures à faible coût représentent des modèles économiques légers et accessibles, capables de créer de l’emploi tout en nécessitant peu de capital. Elles favorisent l’inclusion économique et constituent une base pour le développement local, mais leur petite taille les rend sensibles aux fluctuations du marché.

le type d’entreprise le plus fréquent parmi ces structures à faibles coûts est le service.

### Q8: Recent Business Registrations
Filter businesses that started in 2023. Which business type is most common among these new businesses?

**Business Context:** Recent registration trends can indicate emerging business opportunities and economic growth sectors.

In [26]:
df[df['start_date'].dt.year == 2023][['business_id','business_name']]

    business_id business_name
0       NG_0001    Business_1
1       NG_0002    Business_2
3       NG_0004    Business_4
21      NG_0022   Business_22
22      NG_0023   Business_23
23      NG_0024   Business_24
29      NG_0030   Business_30
30      NG_0031   Business_31
34      NG_0035   Business_35
47      NG_0048   Business_48
48      NG_0049   Business_49
53      NG_0054   Business_54
62      NG_0063   Business_63
67      NG_0068   Business_68
71      NG_0072   Business_72
72      NG_0073   Business_73
78      NG_0079   Business_79
79      NG_0080   Business_80
82      NG_0083   Business_83
84      NG_0085   Business_85
85      NG_0086   Business_86
91      NG_0092   Business_92
93      NG_0094   Business_94
95      NG_0096   Business_96
97      NG_0098   Business_98
98      NG_0099   Business_99
106     NG_0107  Business_107
113     NG_0114  Business_114
114     NG_0115  Business_115
118     NG_0119  Business_119
120     NG_0121  Business_121
121     NG_0122  Business_122
126     NG_0127  Business_127
140     NG_0141  Business_141
141     NG_0142  Business_142
142     NG_0143  Business_143
143     NG_0144  Business_144
148     NG_0149  Business_149
149     NG_0150  Business_150
163     NG_0164  Business_164
165     NG_0166  Business_166
167     NG_0168  Business_168
168     NG_0169  Business_169
170     NG_0171  Business_171
174     NG_0175  Business_175
179     NG_0180  Business_180
184     NG_0185  Business_185
186     NG_0187  Business_187
191     NG_0192  Business_192
195     NG_0196  Business_196

In [27]:
df[df['start_date'].dt.year == 2023]['business_type'].value_counts()

business_type
Retail           17
Manufacturing    14
Services          9
Technology        7
Agriculture       3
Name: count, dtype: int64

Le type d’entreprise le plus courant parmi ces nouvelles créations est donc le commerce de détail.

Les nouvelles entreprises créées en 2023 montrent une prépondérance du commerce de détail, suivi par le manufacturier et les services. Cela indique une dynamique de consommation locale forte et un intérêt croissant pour les secteurs à retour rapide et faible barrière à l’entrée. Ces tendances signalent les secteurs émergents et les opportunités économiques pour les investisseurs, les incubateurs et les décideurs souhaitant soutenir l’innovation et la création d’emplois.

### Q9: Large Employers
Filter businesses that have 10 or more employees. Calculate the average monthly revenue of these larger employers.

**Business Context:** Large employers are important for job creation and economic stability.

In [28]:
df[df['employees'] >= 10]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
6,NG_0007,Business_7,Oyo,Services,2021-06-21,724708,207436,12,False,True
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
...,...,...,...,...,...,...,...,...,...,...
186,NG_0187,Business_187,Kano,Retail,2023-10-24,515053,412042,10,False,False
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
192,NG_0193,Business_193,Lagos,Services,2020-03-02,440378,209484,10,False,False
194,NG_0195,Business_195,Benue,Agriculture,2021-12-29,812562,504472,11,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

In [29]:
df[df['employees'] >= 10]['monthly_revenue_naira'].mean()

np.float64(511441.8548387097)

Les entreprises avec 10 employés ou plus génèrent généralement un revenu mensuel élevé, ce qui reflète leur capacité à produire, vendre et croître à plus grande échelle. Elles jouent un rôle clé dans la création d’emplois, la stabilité économique et le développement des secteurs industriels.

### Q10: Digital-Ready Businesses
Filter businesses that have a website AND accept mobile money. What percentage of the total businesses are digitally ready?

**Business Context:** Digital readiness indicates how prepared businesses are for the modern economy.

In [30]:
df[(df['has_website'] == True) & (df['accepts_mobile_money'] == True)]

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
14,NG_0015,Business_15,Anambra,Agriculture,2020-01-20,511114,422377,8,True,True
21,NG_0022,Business_22,Oyo,Manufacturing,2023-03-12,264774,211819,9,True,True
28,NG_0029,Business_29,Anambra,Retail,2021-07-28,467226,270305,3,True,True
33,NG_0034,Business_34,Kano,Technology,2021-07-23,265604,8259,8,True,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
40,NG_0041,Business_41,Rivers,Services,2021-03-19,610938,493260,8,True,True
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
56,NG_0057,Business_57,Anambra,Retail,2022-04-02,359637,287709,9,True,True
57,NG_0058,Business_58,Lagos,Services,2022-07-24,306577,43908,4,True,True
58,NG_0059,Business_59,Rivers,Retail,2021-10-17,787350,224882,7,True,True
64,NG_0065,Business_65,Benue,Retail,2020-04-29,592544,474035,13,True,True
68,NG_0069,Business_69,Kaduna,Manufacturing,2022-01-10,340352,187933,8,True,True
74,NG_0075,Business_75,Oyo,Technology,2022-12-17,370740,296592,6,True,True
84,NG_0085,Business_85,Benue,Manufacturing,2023-07-19,376842,301473,10,True,True
91,NG_0092,Business_92,Kaduna,Services,2023-01-04,545047,436037,7,True,True
97,NG_0098,Business_98,Kaduna,Retail,2023-08-01,372552,279734,9,True,True
108,NG_0109,Business_109,Imo,Manufacturing,2020-08-05,687414,259674,7,True,True
115,NG_0116,Business_116,Kaduna,Technology,2020-12-22,742563,272479,8,True,True
120,NG_0121,Business_121,Anambra,Services,2023-04-18,326283,228986,9,True,True
132,NG_0133,Business_133,Lagos,Retail,2021-05-11,525608,66637,8,True,True
144,NG_0145,Business_145,Anambra,Technology,2022-12-02,349510,294444,8,True,True
158,NG_0159,Business_159,Lagos,Retail,2022-08-27,256302,205041,9,True,True
174,NG_0175,Business_175,Anambra,Manufacturing,2023-11-18,449416,359532,7,True,True
175,NG_0176,Business_176,Imo,Retail,2021-04-01,525486,318756,10,True,True
178,NG_0179,Business_179,Lagos,Retail,2022-01-08,428358,56621,5,True,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
193,NG_0194,Business_194,Benue,Agriculture,2021-08-18,934568,261431,9,True,True

In [31]:
count_ent_num = df[(df['has_website'] == True) & (df['accepts_mobile_money'] == True)]['business_id'].count()

In [32]:
count_ent_num

np.int64(28)

In [33]:
percent = (count_ent_num/df['business_id'].count())*100

In [34]:
percent

np.float64(14.000000000000002)

Parmi toutes les entreprises analysées, `28 entreprises` disposent à la fois d’un site web et acceptent le mobile money, ce qui représente `14 % du total`.
Ces entreprises peuvent donc être considérées comme numériquement prêtes.

Le fait que seulement `14 % des entreprises` soient numériquement prêtes indique que la transformation digitale reste limitée. Les entreprises équipées de solutions numériques et de paiement mobile bénéficient d’un avantage concurrentiel : meilleure visibilité, accès élargi aux clients et efficacité opérationnelle.
Pour stimuler la compétitivité et l’inclusion économique, il serait pertinent de promouvoir l’adoption numérique via des programmes de formation, des incitations financières et un accompagnement technologique, ciblant les `86 % restantes` qui ne sont pas encore digitalisées.

# Exercise 2: African Agriculture Analysis

**AgriTech Africa** is a research organization analyzing agricultural technology adoption across five African countries. You have been provided with a dataset containing information about farming communities and their technology usage patterns.

For each question below, provide the Python pandas code and provide a key insight you can get from your answer.

In [35]:
data = pd.read_csv('data/african_agriculture_dataset.csv')

In [36]:
data

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
2,Prairie Agri Society,Nigeria,Wheat,97.46,14,Yes,SMS,439.41,NaN,Drip,Yes,1072.58
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Harvest Agri Society,Kenya,Maize,39.93,0,Yes,NaN,246.61,NaN,NaN,Yes,1123.58
1996,Mountain Farmers Group,Nigeria,Maize,50.99,90,No,NaN,205.38,NaN,Drip,Yes,646.68
1997,Prairie Cultivators Club,Ghana,Rice,89.37,43,No,Mobile Apps,603.02,Organic,Drip,No,958.79
1998,Sunrise Agricultural Association,Kenya,Wheat,87.01,99,No,Mobile Apps,370.42,Inorganic,Sprinkler,Yes,677.78
1999,Savannah Farmers Group,Nigeria,Sorghum,57.86,48,No,Mobile Apps,997.68,Inorganic,NaN,Yes,748.18

In [37]:
data.head()

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
2,Prairie Agri Society,Nigeria,Wheat,97.46,14,Yes,SMS,439.41,NaN,Drip,Yes,1072.58
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69

In [38]:
data.tail()

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
1995,Harvest Agri Society,Kenya,Maize,39.93,0,Yes,NaN,246.61,NaN,NaN,Yes,1123.58
1996,Mountain Farmers Group,Nigeria,Maize,50.99,90,No,NaN,205.38,NaN,Drip,Yes,646.68
1997,Prairie Cultivators Club,Ghana,Rice,89.37,43,No,Mobile Apps,603.02,Organic,Drip,No,958.79
1998,Sunrise Agricultural Association,Kenya,Wheat,87.01,99,No,Mobile Apps,370.42,Inorganic,Sprinkler,Yes,677.78
1999,Savannah Farmers Group,Nigeria,Sorghum,57.86,48,No,Mobile Apps,997.68,Inorganic,NaN,Yes,748.18

In [39]:
data.shape

(2000, 12)

In [40]:
data.columns

Index(['Community_Name', 'Country', 'Crop_Type', 'Farm_Size',
       'Tech_Adoption_Index', 'Drone_Usage', 'Mobile_Tech', 'Annual_Yield',
       'Fertilizer_Type', 'Irrigation', 'Weather_Station', 'Annual_Rainfall'],
      dtype='object')

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Community_Name       2000 non-null   object
 1   Country              2000 non-null   object
 2   Crop_Type            2000 non-null   object
 3   Farm_Size            2000 non-null   float64
 4   Tech_Adoption_Index  2000 non-null   int64
 5   Drone_Usage          2000 non-null   object
 6   Mobile_Tech          1288 non-null   object
 7   Annual_Yield         2000 non-null   float64
 8   Fertilizer_Type      1307 non-null   object
 9   Irrigation           1349 non-null   object
 10  Weather_Station      2000 non-null   object
 11  Annual_Rainfall      2000 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 187.6+ KB

In [42]:
data.describe()

         Farm_Size  Tech_Adoption_Index  Annual_Yield  Annual_Rainfall
count  2000.000000          2000.000000   2000.000000      2000.000000
mean     52.126350            50.044500    536.689350       794.925925
std      28.786657            28.947133    257.207925       228.165699
min       1.000000             0.000000    100.110000       400.000000
25%      27.330000            25.000000    311.357500       596.695000
50%      53.675000            50.000000    536.050000       798.695000
75%      76.907500            75.000000    752.900000       983.485000
max      99.970000           100.000000    999.730000      1199.830000

In [43]:
data['Drone_Usage'].unique()

array(['Yes', 'No'], dtype=object)

In [44]:
data['Mobile_Tech'].unique()

array(['SMS', 'Mobile Apps', nan], dtype=object)

In [45]:
data['Tech_Adoption_Index']

0       40
1       48
2       14
3       55
4       53
        ..
1995     0
1996    90
1997    43
1998    99
1999    48
Name: Tech_Adoption_Index, Length: 2000, dtype: int64

In [46]:
data['Tech_Adoption_Index'].isna().sum()

np.int64(0)

In [47]:
data[['Tech_Adoption_Index', 'Drone_Usage', 'Mobile_Tech']].head(30)

    Tech_Adoption_Index Drone_Usage  Mobile_Tech
0                    40         Yes          SMS
1                    48          No          SMS
2                    14         Yes          SMS
3                    55          No          SMS
4                    53         Yes  Mobile Apps
5                    30         Yes          SMS
6                    60          No          NaN
7                    57          No          NaN
8                    86         Yes          SMS
9                    59         Yes          NaN
10                   52         Yes          NaN
11                   85         Yes          SMS
12                   60          No  Mobile Apps
13                   79         Yes  Mobile Apps
14                   41         Yes  Mobile Apps
15                   28          No          SMS
16                   83          No  Mobile Apps
17                   91          No  Mobile Apps
18                   26         Yes          NaN
19                   43          No  Mobile Apps
20                   92          No          SMS
21                    4         Yes  Mobile Apps
22                   51          No          NaN
23                   52          No          NaN
24                   51         Yes          NaN
25                   37          No          NaN
26                   43         Yes  Mobile Apps
27                   52          No          NaN
28                    1          No          NaN
29                   53          No          NaN

In [48]:
data[['Tech_Adoption_Index', 'Drone_Usage', 'Mobile_Tech']].sample(3)

      Tech_Adoption_Index Drone_Usage  Mobile_Tech
1296                   63         Yes          NaN
674                     2         Yes          SMS
1578                   44         Yes  Mobile Apps

In [49]:
data['Fertilizer_Type'].unique()

array(['Organic', nan, 'Inorganic'], dtype=object)

## Q1: Identifying Technology Leaders
**Business Question:** Which farming communities are leading in technology adoption, and how many of our partner communities have achieved a Technology Adoption Index above 80?

**Context:** Understanding technology leaders helps identify best practices for scaling across other communities.

In [50]:
data.sort_values(['Community_Name', 'Tech_Adoption_Index'], ascending = False)

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
986,Valley Growers Coalition,Nigeria,Rice,42.28,99,No,NaN,215.56,Inorganic,Drip,No,576.89
910,Valley Growers Coalition,South Africa,Maize,29.12,98,No,SMS,218.90,Organic,Sprinkler,Yes,780.93
1331,Valley Growers Coalition,Ghana,Maize,43.64,96,Yes,Mobile Apps,289.36,Organic,Sprinkler,No,695.44
217,Valley Growers Coalition,South Africa,Barley,29.73,93,No,SMS,786.08,Inorganic,Drip,No,940.11
1484,Valley Growers Coalition,South Africa,Rice,85.88,90,No,SMS,204.89,NaN,Sprinkler,Yes,1157.37
...,...,...,...,...,...,...,...,...,...,...,...,...
368,Golden Agri Society,Ghana,Sorghum,60.44,9,No,NaN,243.02,Inorganic,Drip,Yes,930.20
1684,Golden Agri Society,Ghana,Barley,78.32,5,Yes,Mobile Apps,514.16,Organic,Sprinkler,Yes,838.87
1876,Golden Agri Society,Ghana,Barley,28.42,4,Yes,SMS,301.89,NaN,Sprinkler,No,429.30
1197,Golden Agri Society,Ghana,Maize,65.96,1,No,NaN,405.35,Organic,NaN,No,856.12
1372,Golden Agri Society,South Africa,Sorghum,23.14,0,No,SMS,487.17,NaN,Drip,No,556.95

In [51]:
community_parter = data.loc[data['Tech_Adoption_Index'] > 80, 'Community_Name']
community_parter.value_counts()

Community_Name
Harvest Farmers Union                14
Meadow Growers Coalition             12
Meadow Farmers Union                 11
Sunrise Agricultural Association     11
Harvest Growers Coalition            10
Meadow Farmers Group                 10
Savannah Farmers Union               10
River Agri Society                    9
Valley Agri Society                   9
Valley Farmers Union                  8
Meadow Agri Society                   8
Valley Growers Coalition              8
Golden Growers Coalition              8
Green Growers Coalition               8
Mountain Farmers Group                8
Golden Farmers Union                  8
Harvest Agricultural Association      8
Mountain Agri Society                 8
Golden Cultivators Club               8
Savannah Agri Society                 8
Sunrise Growers Coalition             7
Mountain Farmers Union                7
Prairie Cultivators Club              7
Mountain Cultivators Club             7
Sunrise Farmers Union                 7
Harvest Cultivators Club              7
Valley Cultivators Club               7
River Growers Coalition               6
Prairie Agricultural Association      6
Mountain Agricultural Association     6
River Agricultural Association        6
Sunrise Farmers Group                 6
Green Farmers Group                   6
Sunrise Agri Society                  6
Meadow Agricultural Association       6
Harvest Agri Society                  6
Valley Agricultural Association       6
Golden Agricultural Association       6
Green Agricultural Association        6
Green Agri Society                    5
Savannah Cultivators Club             5
Harvest Farmers Group                 5
Golden Farmers Group                  5
Golden Agri Society                   5
Savannah Agricultural Association     5
Sunrise Cultivators Club              4
Meadow Cultivators Club               4
River Cultivators Club                4
River Farmers Union                   4
Savannah Farmers Group                4
Green Cultivators Club                4
Prairie Agri Society                  4
Prairie Farmers Group                 4
Mountain Growers Coalition            4
Savannah Growers Coalition            4
Green Farmers Union                   3
Valley Farmers Group                  3
River Farmers Group                   3
Prairie Growers Coalition             2
Prairie Farmers Union                 2
Name: count, dtype: int64

In [52]:
community_parter.value_counts().count()

np.int64(60)

On constate que `60 nos communautés partenaires` ont `un indice d’adoption technologique supérieur à 80`

Ainsi, ils jouent un rôle moteur dans la transformation agricole. Leur adoption précoce des innovations montre que ces technologies peuvent améliorer la productivité, la rentabilité et la résilience face aux aléas climatiques.

## Q2: Premium Drone Adoption Analysis
**Business Question:** Among large-scale farming operations (over 70 acres), which communities have invested in drone technology, and where are they located?

**Context:** Large farms with drone adoption represent high-value clients for advanced agricultural technology partnerships.

In [53]:
data[(data['Farm_Size'] >= 70) & (data['Drone_Usage'] == 'Yes')][['Community_Name','Country']]

                 Community_Name       Country
2          Prairie Agri Society       Nigeria
4          Valley Farmers Group         Ghana
5         Savannah Agri Society      Tanzania
11    Sunrise Growers Coalition  South Africa
24         Meadow Farmers Group         Ghana
...                         ...           ...
1968  Harvest Growers Coalition      Tanzania
1974   Meadow Growers Coalition         Kenya
1988  Savannah Cultivators Club         Ghana
1991       Meadow Farmers Group         Kenya
1993        Golden Agri Society         Kenya

[338 rows x 2 columns]

In [54]:
data[(data['Farm_Size'] >= 70) & (data['Drone_Usage'] == 'Yes')]['Country'].value_counts()

Country
Ghana           78
Tanzania        76
Nigeria         67
Kenya           60
South Africa    57
Name: count, dtype: int64

Les données montrent que plusieurs grandes exploitations agricoles utilisant des drones sont réparties dans cinq pays, avec une forte concentration au Ghana, en Tanzanie et au Nigéria.

Ces pays représentent des marchés stratégiques pour le développement de partenariats en technologies agricoles avancées. Les groupes comme `Meadow Farmers Group, Savannah Agri Society ou Harvest Growers Coalition` apparaissent comme des leaders technologiques régionaux, susceptibles de devenir des ambassadeurs pour la diffusion des innovations agricoles (drones).

## Q3: Market Expansion Opportunities
**Business Question:** How many farming communities are operating in our priority markets of South Africa and Kenya?

**Context:** These countries represent key expansion opportunities for agricultural technology solutions.

In [55]:
com_SA_KA = data.loc[((data['Country'] == 'South Africa') | (data['Country'] == 'Kenya')), 'Community_Name']
com_SA_KA

0              Mountain Cultivators Club
1               Prairie Cultivators Club
6                River Growers Coalition
9              Sunrise Growers Coalition
11             Sunrise Growers Coalition
                      ...
1989                Harvest Agri Society
1991                Meadow Farmers Group
1993                 Golden Agri Society
1995                Harvest Agri Society
1998    Sunrise Agricultural Association
Name: Community_Name, Length: 760, dtype: object

In [56]:
com_SA_KA.value_counts().count()

np.int64(60)

In [57]:
data.loc[(data['Country'] == 'South Africa') | (data['Country'] == 'Kenya'), ['Country','Tech_Adoption_Index', 'Drone_Usage','Mobile_Tech']].head(20)

         Country  Tech_Adoption_Index Drone_Usage  Mobile_Tech
0   South Africa                   40         Yes          SMS
1   South Africa                   48          No          SMS
6   South Africa                   60          No          NaN
9          Kenya                   59         Yes          NaN
11  South Africa                   85         Yes          SMS
13  South Africa                   79         Yes  Mobile Apps
17  South Africa                   91          No  Mobile Apps
19         Kenya                   43          No  Mobile Apps
20         Kenya                   92          No          SMS
25         Kenya                   37          No          NaN
35         Kenya                   71         Yes  Mobile Apps
36  South Africa                   91          No  Mobile Apps
37         Kenya                   78          No          NaN
47         Kenya                   81          No          SMS
51         Kenya                   11          No          NaN
52  South Africa                   35          No          SMS
53  South Africa                   28         Yes          SMS
54  South Africa                   10          No          NaN
56  South Africa                   69         Yes          SMS
60  South Africa                   46         Yes          NaN

Nous avons 60 communautés agricoles qui opèrent dans les marchés prioritaires de l’Afrique du Sud et du Kenya.
Ce nombre élevé confirme que ces deux pays disposent d’un écosystème agricole dynamique et technologiquement réceptif. La concentration de communautés agricoles actives crée une opportunité stratégique majeure pour déployer et tester des solutions AgriTech à grande échelle.

## Q4: Underserved Market Identification
**Business Question:** Which countries have small-scale, low-technology farming operations (under 20 acres with Technology Adoption Index below 30) that could benefit from basic technology interventions?

**Context:** Small, low-tech farms represent an underserved market segment requiring tailored entry-level solutions.

In [58]:
data.loc[(data['Farm_Size'] < 20) & (data['Tech_Adoption_Index'] < 30), 'Country'].unique()

array(['Nigeria', 'South Africa', 'Kenya', 'Tanzania', 'Ghana'],
      dtype=object)

Les résultats indiquent que le Nigeria, l’Afrique du Sud, le Kenya, la Tanzanie et le Ghana comptent des exploitations de petite taille (moins de 20 acres) avec un indice technologique inférieur à 30.

Ces petites exploitations représentent un segment sous-technologisé mais à fort potentiel pour l’introduction de solutions agricoles de base, comme les outils de gestion simples, les applications mobiles pour agriculteurs ou des systèmes d’irrigation à faible coût.

## Q5: Sustainable Agriculture Success Stories
**Business Question:** Which organic farming communities are achieving high productivity (over 600 annual yield), and what irrigation technologies are they using?

**Context:** Successful organic farms demonstrate sustainable practices that can be promoted to environmentally conscious markets.

In [59]:
data.head()

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
2,Prairie Agri Society,Nigeria,Wheat,97.46,14,Yes,SMS,439.41,NaN,Drip,Yes,1072.58
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69

In [60]:
data.loc[(data['Fertilizer_Type'] == 'Organic') & (data['Annual_Rainfall'] > 600), 'Community_Name'].unique()

array(['Mountain Cultivators Club', 'Prairie Cultivators Club',
       'Savannah Agri Society', 'Prairie Agricultural Association',
       'Sunrise Growers Coalition', 'Valley Agricultural Association',
       'Harvest Agricultural Association', 'Valley Farmers Union',
       'Meadow Cultivators Club', 'Meadow Agricultural Association',
       'Savannah Growers Coalition', 'Meadow Agri Society',
       'River Cultivators Club', 'Mountain Agri Society',
       'River Agricultural Association', 'Mountain Growers Coalition',
       'Prairie Farmers Union', 'Green Farmers Union',
       'Savannah Farmers Union', 'Green Farmers Group',
       'Savannah Cultivators Club', 'Meadow Growers Coalition',
       'Sunrise Farmers Group', 'Meadow Farmers Union',
       'Sunrise Agricultural Association', 'Harvest Farmers Union',
       'Harvest Cultivators Club', 'Prairie Agri Society',
       'Green Agricultural Association', 'Sunrise Agri Society',
       'Valley Cultivators Club', 'Golden Farmers Group',
       'Valley Agri Society', 'Savannah Farmers Group',
       'Harvest Agri Society', 'Harvest Growers Coalition',
       'Prairie Farmers Group', 'River Farmers Union',
       'Sunrise Cultivators Club', 'Golden Agri Society',
       'Mountain Farmers Union', 'Savannah Agricultural Association',
       'Golden Cultivators Club', 'Green Agri Society',
       'River Farmers Group', 'Golden Farmers Union',
       'Harvest Farmers Group', 'River Growers Coalition',
       'Prairie Growers Coalition', 'Golden Growers Coalition',
       'Mountain Agricultural Association',
       'Golden Agricultural Association', 'River Agri Society',
       'Sunrise Farmers Union', 'Green Growers Coalition',
       'Valley Growers Coalition', 'Green Cultivators Club',
       'Mountain Farmers Group', 'Meadow Farmers Group',
       'Valley Farmers Group'], dtype=object)

In [61]:
data[(data['Fertilizer_Type'] == 'Organic') & (data['Annual_Rainfall'] > 600)]['Irrigation'].unique()

array(['Sprinkler', 'Drip', nan], dtype=object)

Les communautés agricoles biologiques ayant une productivité supérieure à 600 utilisent principalement des technologies d’irrigation Sprinkler et Drip, avec certains cas où l’information n’est pas renseignée.
Ces communautés démontrent qu’une agriculture biologique performante est possible grâce à des systèmes d’irrigation efficaces. Les technologies Sprinkler et Drip semblent jouer un rôle clé dans l’optimisation de la productivité tout en respectant les pratiques durables.


Ces fermes peuvent servir de modèles ou de références pour la diffusion des bonnes pratiques durables. Promouvoir ces technologies auprès d’autres exploitations biologiques peut améliorer la productivité tout en renforçant la durabilité agricole.

## Q6: Climate-Smart Agriculture Adoption
**Business Question:** In high-rainfall regions (over 1000mm annually), which countries have farming communities that have invested in weather monitoring technology?

**Context:** Weather station adoption in high-rainfall areas indicates sophisticated climate risk management practices.

In [62]:
data[(data['Annual_Rainfall'] > 1000) & (data['Weather_Station'] == 'Yes')]['Country'].unique()

array(['South Africa', 'Nigeria', 'Ghana', 'Tanzania', 'Kenya'],
      dtype=object)

Les résultats montrent que l’Afrique du Sud, le Nigeria, le Ghana, la Tanzanie et le Kenya comptent des communautés situées dans des zones à fortes précipitations (plus de 1000 mm/an) ayant investi dans des stations météo.
Ces investissements indiquent que ces communautés pratiquent une gestion avancée des risques climatiques, utilisant les données météo pour optimiser les semis, l’irrigation et la protection des cultures. Cela démontre une adoption proactive des technologies agricoles pour sécuriser la production.

Ces pays représentent des marchés clés pour les solutions AgriTech liées au climat, et les communautés équipées de stations météo peuvent servir de modèles pour la diffusion de bonnes pratiques climato-intelligentes à d’autres exploitations.

## Q7: Entry-Level Market Assessment
**Business Question:** Among low-performing farming operations (annual yield under 200), which crop types are most prevalent and may need immediate intervention?

**Context:** Low-yield operations represent potential clients for productivity improvement solutions.

In [63]:
data[data['Annual_Yield'] < 200 ]['Crop_Type'].unique()

array(['Barley', 'Sorghum', 'Rice', 'Wheat', 'Maize'], dtype=object)

Les exploitations à faible rendement (moins de 200) cultivent principalement l’orge (Barley), le sorgho (Sorghum), le riz (Rice), le blé (Wheat) et le maïs (Maize).
Ces cultures de base sont essentielles pour la sécurité alimentaire, mais les faibles rendements indiquent un besoin urgent d’interventions technologiques et agronomiques. Des mesures comme l’amélioration des semences, la mécanisation, l’irrigation efficace et la formation agricole pourraient considérablement augmenter la productivité.

Ces exploitations représentent des cibles prioritaires pour les programmes AgriTech et de renforcement des capacités. En intervenant sur ces cultures stratégiques, il est possible de maximiser l’impact économique et alimentaire tout en préparant ces fermes à l’adoption future de technologies plus avancées.

## Q8: Digital Agriculture Penetration
**Business Question:** What irrigation methods are most commonly used by digitally-enabled farming communities (those using Mobile Apps or SMS technology)?

**Context:** Understanding technology adoption patterns helps design integrated digital agriculture solutions.

In [64]:
data[(data['Mobile_Tech'] == 'SMS') | (data['Mobile_Tech'] == 'Mobile Apps')]['Irrigation'].unique()

array(['Sprinkler', 'Drip', nan], dtype=object)

Les communautés agricoles connectées numériquement (utilisant des applications mobiles ou des SMS) privilégient principalement les méthodes d’irrigation Sprinkler et Drip, ou d'autres méthodes.
L’usage de ces technologies montre que les agriculteurs numériquement connectés adoptent déjà des pratiques d’irrigation efficaces et modernes. Cela suggère un terrain favorable pour le déploiement de solutions AgriTech intégrées, combinant suivi de l’irrigation, alertes météo et conseils en temps réel via mobile.

Ces communautés peuvent servir de modèles pilotes pour les solutions numériques intégrées, permettant d’optimiser l’irrigation, d’améliorer les rendements et de démontrer les avantages de la technologie aux autres exploitations.

## Q9: Large-Scale Technology Investment Patterns
**Business Question:** What is the average technology adoption level among large-scale farming operations (90+ acres), and how does it compare to smaller operations?

**Context:** Large farms typically have higher investment capacity and can be early adopters of expensive technologies.

In [65]:
data[data['Tech_Adoption_Index'] >= 90]

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
17,Savannah Agri Society,South Africa,Sorghum,14.50,91,No,Mobile Apps,398.23,Inorganic,Drip,Yes,1067.74
20,Savannah Cultivators Club,Kenya,Sorghum,46.27,92,No,SMS,686.81,NaN,NaN,Yes,612.64
36,Mountain Farmers Union,South Africa,Wheat,7.32,91,No,Mobile Apps,377.96,NaN,Drip,Yes,484.47
49,Meadow Agri Society,Ghana,Sorghum,19.84,91,Yes,Mobile Apps,995.02,Organic,NaN,Yes,775.61
59,Meadow Growers Coalition,Nigeria,Maize,9.96,95,Yes,Mobile Apps,818.11,Inorganic,Drip,Yes,1016.78
...,...,...,...,...,...,...,...,...,...,...,...,...
1983,Golden Agri Society,South Africa,Sorghum,89.55,99,No,NaN,701.67,NaN,Drip,No,526.19
1991,Meadow Farmers Group,Kenya,Rice,84.23,91,Yes,SMS,273.06,Inorganic,Sprinkler,No,658.16
1994,Green Cultivators Club,Nigeria,Wheat,26.81,95,No,SMS,454.72,NaN,Sprinkler,Yes,607.55
1996,Mountain Farmers Group,Nigeria,Maize,50.99,90,No,NaN,205.38,NaN,Drip,Yes,646.68
1998,Sunrise Agricultural Association,Kenya,Wheat,87.01,99,No,Mobile Apps,370.42,Inorganic,Sprinkler,Yes,677.78

In [66]:
data[data['Tech_Adoption_Index'] >= 90 ]['Tech_Adoption_Index'].mean()

np.float64(95.0377358490566)

In [67]:
data[data['Tech_Adoption_Index'] < 90]

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
2,Prairie Agri Society,Nigeria,Wheat,97.46,14,Yes,SMS,439.41,NaN,Drip,Yes,1072.58
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69
...,...,...,...,...,...,...,...,...,...,...,...,...
1992,Valley Farmers Union,Tanzania,Barley,40.12,49,Yes,SMS,178.31,NaN,Drip,Yes,845.96
1993,Golden Agri Society,Kenya,Rice,90.02,80,Yes,Mobile Apps,664.49,NaN,Drip,Yes,710.92
1995,Harvest Agri Society,Kenya,Maize,39.93,0,Yes,NaN,246.61,NaN,NaN,Yes,1123.58
1997,Prairie Cultivators Club,Ghana,Rice,89.37,43,No,Mobile Apps,603.02,Organic,Drip,No,958.79
1999,Savannah Farmers Group,Nigeria,Sorghum,57.86,48,No,Mobile Apps,997.68,Inorganic,NaN,Yes,748.18

In [68]:
data[data['Tech_Adoption_Index'] < 90]['Tech_Adoption_Index'].mean()

np.float64(44.70973154362416)

Les résultats montrent que `les grandes exploitations (90+ acres)` présentent `un niveau moyen d’adoption technologique de 95,03`, tandis que `les exploitations plus petites affichent un niveau moyen de 44,70`.
Cette différence significative illustre que les grandes fermes sont des précurseurs technologiques, capables d’investir dans des équipements et solutions avancés `(drones)`, alors que les petites exploitations adoptent la technologie plus lentement en raison de contraintes financières ou organisationnelles.

Les grandes exploitations représentent un segment stratégique pour les partenariats et le déploiement rapide de nouvelles technologies, tandis que les petites fermes constituent un marché potentiel pour des solutions plus accessibles et graduelles, permettant de stimuler l’adoption progressive à plus large échelle.


## Q10: Natural Farming Excellence
**Business Question:** What percentage of farming communities achieve high productivity (over 500 annual yield) without using fertilizers, demonstrating natural farming excellence?

**Context:** High-performing farms without fertilizer inputs represent efficient operations that could mentor others in sustainable practices.

In [69]:
import numpy as np

In [70]:
data[(data['Annual_Yield'] > 500) & ((data['Fertilizer_Type'] != 'Organic') & (data['Fertilizer_Type'] != 'Inorganic'))]

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69
18,Mountain Agri Society,Nigeria,Wheat,62.62,26,Yes,NaN,700.75,NaN,Sprinkler,Yes,1132.60
19,Valley Farmers Group,Kenya,Maize,33.14,43,No,Mobile Apps,943.97,NaN,NaN,No,589.20
20,Savannah Cultivators Club,Kenya,Sorghum,46.27,92,No,SMS,686.81,NaN,NaN,Yes,612.64
...,...,...,...,...,...,...,...,...,...,...,...,...
1983,Golden Agri Society,South Africa,Sorghum,89.55,99,No,NaN,701.67,NaN,Drip,No,526.19
1984,Meadow Farmers Union,Ghana,Wheat,84.12,39,No,SMS,845.32,NaN,Drip,No,901.27
1989,Harvest Agri Society,Kenya,Rice,55.40,24,No,SMS,658.68,NaN,Sprinkler,Yes,693.57
1990,Golden Farmers Union,Nigeria,Wheat,19.07,6,No,SMS,904.24,NaN,NaN,No,736.37
1993,Golden Agri Society,Kenya,Rice,90.02,80,Yes,Mobile Apps,664.49,NaN,Drip,Yes,710.92

In [71]:
community_no_fert = data[(data['Annual_Yield'] > 500) & ((data['Fertilizer_Type'] != 'Organic') & (data['Fertilizer_Type'] != 'Inorganic'))]['Community_Name'].unique()

In [72]:
community_no_fert

array(['Harvest Farmers Union', 'Valley Farmers Group',
       'Mountain Agri Society', 'Savannah Cultivators Club',
       'Golden Cultivators Club', 'Meadow Farmers Group',
       'Mountain Agricultural Association',
       'Valley Agricultural Association', 'Meadow Growers Coalition',
       'Golden Agri Society', 'Harvest Farmers Group',
       'Savannah Growers Coalition', 'Meadow Agri Society',
       'Harvest Agricultural Association', 'River Agri Society',
       'Green Cultivators Club', 'Mountain Growers Coalition',
       'Prairie Agri Society', 'Mountain Farmers Group',
       'Green Agricultural Association', 'Savannah Farmers Group',
       'Harvest Agri Society', 'Sunrise Farmers Union',
       'Meadow Farmers Union', 'Sunrise Farmers Group',
       'Savannah Farmers Union', 'Golden Growers Coalition',
       'River Agricultural Association', 'Valley Farmers Union',
       'Golden Agricultural Association', 'Savannah Agri Society',
       'Sunrise Cultivators Club', 'Golden Farmers Group',
       'Prairie Cultivators Club', 'River Farmers Union',
       'Prairie Farmers Union', 'River Farmers Group',
       'Savannah Agricultural Association', 'River Cultivators Club',
       'Valley Growers Coalition', 'River Growers Coalition',
       'Green Farmers Group', 'Sunrise Growers Coalition',
       'Meadow Cultivators Club', 'Prairie Agricultural Association',
       'Harvest Cultivators Club', 'Green Farmers Union',
       'Sunrise Agri Society', 'Prairie Growers Coalition',
       'Mountain Farmers Union', 'Green Growers Coalition',
       'Harvest Growers Coalition', 'Green Agri Society',
       'Golden Farmers Union', 'Mountain Cultivators Club',
       'Valley Agri Society', 'Meadow Agricultural Association',
       'Sunrise Agricultural Association', 'Valley Cultivators Club',
       'Prairie Farmers Group'], dtype=object)

In [73]:
data.loc[(data['Annual_Yield'] > 500) & ((data['Fertilizer_Type'] != 'Organic') & (data['Fertilizer_Type'] != 'Inorganic')), 'Community_Name'].unique()

array(['Harvest Farmers Union', 'Valley Farmers Group',
       'Mountain Agri Society', 'Savannah Cultivators Club',
       'Golden Cultivators Club', 'Meadow Farmers Group',
       'Mountain Agricultural Association',
       'Valley Agricultural Association', 'Meadow Growers Coalition',
       'Golden Agri Society', 'Harvest Farmers Group',
       'Savannah Growers Coalition', 'Meadow Agri Society',
       'Harvest Agricultural Association', 'River Agri Society',
       'Green Cultivators Club', 'Mountain Growers Coalition',
       'Prairie Agri Society', 'Mountain Farmers Group',
       'Green Agricultural Association', 'Savannah Farmers Group',
       'Harvest Agri Society', 'Sunrise Farmers Union',
       'Meadow Farmers Union', 'Sunrise Farmers Group',
       'Savannah Farmers Union', 'Golden Growers Coalition',
       'River Agricultural Association', 'Valley Farmers Union',
       'Golden Agricultural Association', 'Savannah Agri Society',
       'Sunrise Cultivators Club', 'Golden Farmers Group',
       'Prairie Cultivators Club', 'River Farmers Union',
       'Prairie Farmers Union', 'River Farmers Group',
       'Savannah Agricultural Association', 'River Cultivators Club',
       'Valley Growers Coalition', 'River Growers Coalition',
       'Green Farmers Group', 'Sunrise Growers Coalition',
       'Meadow Cultivators Club', 'Prairie Agricultural Association',
       'Harvest Cultivators Club', 'Green Farmers Union',
       'Sunrise Agri Society', 'Prairie Growers Coalition',
       'Mountain Farmers Union', 'Green Growers Coalition',
       'Harvest Growers Coalition', 'Green Agri Society',
       'Golden Farmers Union', 'Mountain Cultivators Club',
       'Valley Agri Society', 'Meadow Agricultural Association',
       'Sunrise Agricultural Association', 'Valley Cultivators Club',
       'Prairie Farmers Group'], dtype=object)

In [74]:
tab_community_no_fert = pd.Series(community_no_fert)

In [75]:
count_community_no_fert = tab_community_no_fert.count()
count_community_no_fert

np.int64(60)

In [76]:
total_com = data['Community_Name'].count()

In [77]:
percent_community_no_fert = (count_community_no_fert/total_com)*100
percent_community_no_fert

np.float64(3.0)

Les résultats montrent que seulement `3,0 % des communautés agricoles` atteignent une productivité supérieure à 500 sans utiliser d’engrais.
Ce faible pourcentage indique que la production élevée sans intrants chimiques est rare, mais ces exploitations constituent des modèles remarquables d’efficacité durable. Elles démontrent que des pratiques agricoles naturelles bien maîtrisées peuvent générer des rendements compétitifs.

Ces communautés représentent des références pour la promotion de l’agriculture durable et les bonnes pratiques naturelles. Les valoriser et documenter leurs méthodes peut inspirer et guider d’autres exploitations vers des solutions à la fois productives et respectueuses de l’environnement.